

    .adContainerStyle {
        @import 'slideshow';
        @import 'hero';
        background-color: #000000;
        box-sizing: border-box;
        overflow: hidden;
       // border: 1px solid rgb(189, 189, 189);

        left: 0px;
        right: 0px;
        margin-left: auto;
        margin-right: auto;

        position: absolute;
        height: 270px;
        width: 100%;
        max-width: 1605px;
        min-width: 705px;
        display: flex;
        justify-content: space-between;
        opacity: 0;
        animation: fadein 1s forwards 0s;

        @include breakpoint(mobile) {
            max-width: 414px;
            min-width: 350px;
            max-height: 380px;
            min-height: 380px;
            height: 100%;
            width: 100%;
           // border: 1px solid lightgray;
        }

      
        &::before {
            @include breakpoint(mobile) {
                //@include bgimage('mobile-bg.png');
                background-position: 50% 50%;
                background-size: contain;
                background-repeat: no-repeat;
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                opacity: 0.0;
            }
        }
       

        .ssMitem-style {
            width:100%;
            height: 100%;
            position: relative;
            overflow: hidden;
            left: 0px;
            right: 0px;
            margin-left: auto;
            margin-right: auto;
            visibility: hidden;
            display: none;

            @include breakpoint(mobile) {
                visibility: visible;
                display: block;
            }


            .bottomCover-style {
                width: 100%;
                height: 100%;
                position: absolute;
              //  background: linear-gradient(to bottom, rgba(255, 255, 255,0) 50%,rgba(255, 255, 255,0.1) 70%, rgba(255, 255, 255,1) 100%);
                top: 0px;
                left: 0px;
                pointer-events: none;
                visibility: hidden;

                @include breakpoint(mobile) {
                    visibility: visible;
                }
            }
        }

        .ss1item-style {
            width: 600px;
            height: 100%;
            position: relative;
            overflow: hidden;
            left: 0px;

            @include breakpoint(mobile) {
                visibility: hidden;
            }
        }

        .ss3item-style {
            width: calc( 100% - (600px + 580px));
            height: 100%;
            position: relative;
            overflow: hidden;
            //left: 820px;

            @include breakpoint(small) {
                visibility: hidden;
            }
        }



     
     

    }