


.ss-card-style-M {
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: auto;
    z-index: -1;

    .ss-box-style {
        position: relative;
        height: 100%;
        width: 100%;
        pointer-events: auto;
        cursor: pointer;
      
        .picStyle {
            position: absolute;
            height: 100%;
            width: 100%;
            background-position: 50% 50%;
            background-size: cover;
            box-sizing: border-box;
            pointer-events: none;

            @include breakpoint(mobile) {
                background-size: cover;
                background-position: 50% 50%;
             }
        }
    }

   
}

.ss-card-style-1 {
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: auto;

    .ss-box-style {
        position: relative;
        height: 100%;
        width: 100%;
        pointer-events: auto;
        cursor: pointer;
      
        .picStyle {
            position: absolute;
            height: 100%;
            width: 100%;
            background-position: 50% 50%;
            background-size: cover;
            box-sizing: border-box;
            pointer-events: none;
        }
    }
}


.ss-card-style-3 {
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: auto;

    .ss-box-style {
        position: relative;
        height: 100%;
        width: 100%;
        pointer-events: auto;
        cursor: pointer;
      
        .picStyle {
            position: absolute;
            height: 100%;
            width: 100%;
            background-position: 50% 50%;
           // border-left: 1px solid rgba(255, 255, 255,0.3);
            //background-size: cover;
            background-size: cover;
            box-sizing: border-box;
            pointer-events: none;
        }
    }
}





.slideshow-dots-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 50%,rgba($dot-bg-gradient-color,0.5) 100%); 
}

